body {
  background-color: rgb(249,249,249);
}
#player {
  margin: 5% auto 15px auto;
  display: block;
}

#video-input {
  width: 250px;
  margin: 0 auto;
}

.video-form {
  text-align: center;
}

.header {
  color: white;
}

